version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg16   # <= version avec pgvector inclus (Postgres + pgvector)
    container_name: projetformation_postgres
    restart: always
    environment:
      POSTGRES_DB: projetformationdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: